@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

* {
  font-family: 'Prompt', sans-serif;
}

.container {
  margin: 0 5px;
}


.searchInput {
  border: none;
  font-size: 14px;
  background-color: #F9F9F9;
  outline: none;
  /* flex-grow: 1; */
  position: relative;
  padding-left: 24px;
  width: 100%;
}

.searchInput::placeholder {
  margin-left: 120px;
  font-size: 14px;
  color: #686868;
}

.navbarInput {
  border: 1px solid #E3E6EE;
  border-radius: 4px;
  height: 40px;
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  background-color: #F9F9F9;
  position: relative;
  width: 91%;
}

.searchIcon {
  color: #686868;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 10px;
  z-index: 2;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0 24px;
  align-items: center;
  position: relative;
}

.menuItems {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 9px;
  background: #F9F9F9;
  color: #686868;
  font-size: 14px;
  font-weight: 300;
  outline: none;
  border: none;
  border-bottom: 2px solid transparent;
}

.menuItem:active,
.menuItem:focus,
.menuItem.active {
  background-color: #E6ECEF;
  color: #000000;
  border-bottom: 2px solid #000000;
}

.feedbackIcon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #ffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffff;
  position: absolute;
  right: 0;
  z-index: 2;
}

.feedbackIcon:active {
  border: 1px solid #DEE3EF;
  width: 24px;
  height: 24px;
}

.loading-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  flex-direction: column;
  bottom: 0;
  z-index: -1;
}

.loading-content {
  width: 23px;
  height: 23px;
}

.header_modal--headerModalTitleWithoutOverflow--1rTCG .header_modal--headerModalTitle--8hnpX {
  font-weight: 900;
  font-size: 15px;
  line-height: 1.2;
}

.draggable_modal--header--PzIrk .header_modal--header--c8kL6 {
  background: #444444 !important;
}

.all {
  height: 39px;
  padding: 10px;
  background-color: #F7F7F7;
}

.loading__title {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 14px;
  font-size: 20px;
  font-family: sans-serif;
}

.iconsBox {
  display: grid;
  /* margin: 15px ; */
  overflow: hidden;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-row-gap: 4px; */
  /* grid-column-gap: 4px; */
  gap: 4px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 2rem;
}

.icon__title {
  position: absolute;
  padding: 10px;
  color: #000;
  background-color: #E6ECEF;
  border-radius: 3px;
  display: none;
  z-index: 2;
}

.icon__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 70px; */
  height: 40px;
  border: 1px solid transparent;
  background-color: #F7F7F7;
}

.icon__box:hover {
  background-color: #fff;
  border: 1px solid #F7F7F7;
}

.icon__box:hover .icon__title {
  display: block;
}

.icons {
  width: 33px;
  height: 33px;
}



.feather {
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  background-color: pink;
}

.sendMessage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Prompt', sans-serif;
  border-radius: 4px;
}

.textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 4px;
  resize: none;
  outline: none;
  border: 1px solid #E3E6EE;
  background-color: #F7F7F7;
}

.ReactModal__Content.ReactModal__Content--after-open {
  padding: 5px;
}

.input {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  border: none;
  border: 1px solid #E3E6EE;
  outline: none;
  border-radius: 4px;
  background-color: #F7F7F7;
}

.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sendBtn {
  width: 45%;
  padding: 5px 15px;
  margin: 5px 0px;
  background-color: #444444;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: .2s ease;
  color: white;
}

.sendBtn:hover {
  opacity: .7;
}

.closeBtn {
  width: 45%;
  padding: 5px 15px;
  margin: 5px 0px;
  background-color: #F7F7F7;
  cursor: pointer;
  border: 1px solid #E3E6EE;
  border-radius: 4px;
  transition: .2s ease;
}

.closeBtn:hover {
  background-color: #d6d3d3
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  display: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}